@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* COLOR */
    --clr-bg: #1F2937;
    --clr-cta: #3882f6;
    --clr-primary: #F9FAF8;
    --clr-secondary: #E5E7EB;

    /* FONT SIZE */
    --fs-xl: 48px;
    --fs-lg: 36px;
    --fs-md: 24px;
    --fs-sm: 18px;

    /* PADDING */
    --padding-page-horizontal: 13.8em;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-flow: column nowrap;
    font-family: "Roboto", sans-serif;
    height: 100svh;
}

/* Header Section */

.header {
    align-items: center;
    background-color: var(--clr-bg);
    display: flex;
    justify-content: space-between;
    padding: 1em var(--padding-page-horizontal) 0;
}

.header__logo {
    color: var(--clr-primary);
    font-size: var(--fs-md);
}

.header__nav {
    display: flex;
    gap: 1.5em;
}

.header__nav a {
    color: var(--clr-secondary);
    font-size: var(--fs-sm);
    font-weight: 300;
    text-decoration: none;
}

/* Hero Section */

.hero {
    background-color: var(--clr-bg);
    display: flex;
    padding: 7em var(--padding-page-horizontal);
}

.hero__container {
    flex: 1;
    max-width: 50%;
    padding-right: 6em;
}

.hero__header {
    color: var(--clr-primary);
    font-size: var(--fs-xl);
    font-weight: bolder;
}

.hero__text {
    color: var(--clr-secondary);
    font-size: var(--fs-sm);
    font-weight: 300;
    margin-bottom: 0.6em;
}

/* TODO: make this responsive to height */

.hero__img {
    flex: 1;
    max-height: 230px;
    object-fit: cover;
}

/* Button */

.btn {
    border-radius: 8px;
    border-style: none;
    color: var(--clr-primary);
    font-size: var(--fs-sm);
    font-weight: bold;
    padding: 0.5em 2em;
    text-align: center;
}

.btn--primary {
    background-color: var(--clr-cta);
}