@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* COLOR */
    --clr-bg: #1F2937;
    --clr-cta: #3882f6;
    --clr-primary: #F9FAF8;
    --clr-secondary: #E5E7EB;

    /* FONT SIZE */
    --fs-xl: 48px;
    --fs-lg: 36px;
    --fs-md: 24px;
    --fs-s: 18px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}
