@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* COLOR */
    --clr-bg: #1f2937;
    --clr-cta: #3882f6;
    --clr-primary: #f9faf8;
    --clr-secondary: #e5e7eb;
    --clr-dark-secondary: #5b6470;

    /* FONT SIZE */
    --fs-xl: 48px;
    --fs-lg: 36px;
    --fs-md: 24px;
    --fs-sm: 18px;

    /* PADDING */
    --padding-page-horizontal: 13.8em;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Roboto', sans-serif;
    height: 100svh;
}

/* Header Section */

.header {
    background-color: var(--clr-bg);
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.header__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: min(120ch, 100vw - 2rem);
}

.header__logo {
    color: var(--clr-primary);
    font-size: var(--fs-md);
}

.header__nav {
    display: flex;
    gap: 1.5em;
}

.header__nav a {
    color: var(--clr-secondary);
    font-size: var(--fs-sm);
    font-weight: 300;
    text-decoration: none;
}

/* Hero Section */

.hero {
    background-color: var(--clr-bg);
    display: flex;
    justify-content: center;
    padding: 8rem 0;
}

.hero__container-row {
    display: flex;
    width: min(120ch, 100vw - 2rem);
}

.hero__container-col {
    flex: 1;
    max-width: 50%;
    padding-right: 6rem;
}

.hero__header {
    color: var(--clr-primary);
    font-size: var(--fs-xl);
    font-weight: bolder;
}

.hero__text {
    color: var(--clr-secondary);
    font-size: var(--fs-sm);
    font-weight: 300;
    margin-bottom: 0.6em;
}

/* TODO: make this responsive to height */

.hero__img {
    flex: 1;
    max-height: 230px;
    object-fit: cover;
}

/* Gallery Section */

.gallery {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    padding: 3em 0 8em;
}

.gallery__header {
    font-size: var(--fs-lg);
    margin-bottom: 1.5em;
}

.gallery__container {
    display: flex;
    flex-flow: row wrap;
    gap: 2.2rem;
    justify-content: center;
    width: min(87ch, 100vw - 2rem);
}

.gallery__card {
    flex: 1;
}

.gallery__text {
    color: var(--clr-dark-secondary);
    font-size: var(--fs-sm);
    text-align: center;
}

.gallery__img {
    aspect-ratio: 1 / 1;
    border-radius: 16px;
    margin-bottom: 0.3rem;
    object-fit: cover;
    max-width: 100%;
}

/* Quote Section */

.quote {
    align-items: center;
    background-color: var(--clr-secondary);
    color: var(--clr-bg);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 8em 0;
}

.quote__container {
    width: min(87ch, 100vw - 2rem);
}

.quote__text {
    font-size: var(--fs-lg);
    font-style: italic;
    font-weight: 300;
}

.quote__source {
    font-size: var(--fs-md);
    font-weight: 500;
    text-align: right;
}

/* Call to Action Section */

.call-to-action {
    padding: 7rem 0;
    display: flex;
    justify-content: center;
}

.call-to-action__wrapper {
    background-color: var(--clr-cta);
    border-radius: 8px;
    color: var(--clr-primary);
    display: flex;
    justify-content: space-between;
    padding: 3rem 8rem;
    width: min(120ch, 100vw - 2rem);
}

.call-to-action__text {
    color: var(--clr-secondary);
    font-size: var(--fs-sm);
}

/* Button */

.btn {
    background-color: var(--clr-cta);
    border-radius: 8px;
    color: var(--clr-primary);
    font-size: var(--fs-sm);
    font-weight: bold;
    padding: 0.5em 2em;
    text-align: center;
}

.btn--primary {
    border-style: none;
}

.btn--outline {
    align-self: center;
    border: 3px solid var(--clr-primary);
}

/* Footer Section */

.footer {
    background-color: var(--clr-bg);
    padding: 2.5rem 0;
}

.footer__text {
    color: var(--clr-primary);
    font-size: var(--fs-sm);
    text-align: center;
}
